/* Ocultar el encabezado con animación */
.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.contenido_perfil {
  position: sticky; /* Encabezado pegajoso en la parte superior */
  top: 0;
  z-index: 10; /* Asegura que el encabezado esté sobre el contenido */
  background-color: #042f2e;
  transition: transform 0.3s ease-in-out; /* Suaviza el cambio de visibilidad */
}
ion-content {
  overflow-y: scroll; /* Mantén el desplazamiento vertical */
  --background: #042f2e; /* Fondo del contenido */
  scrollbar-width: none; /* Ocultar scrollbar en navegadores compatibles */
}

ion-content::-webkit-scrollbar {
  display: none; /* Ocultar scrollbar en navegadores WebKit (Chrome, Safari) */
}


.contenido_perfil.ion-no-padding {
  padding: 0;
}

ion-avatar {
  width: 70px;
  height: 70px;
  margin-bottom: 2%;
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  color: white;
}

.stats {
  margin-top: 1%;
  justify-content: start;
  text-align: center;
  gap: 1%;
}

ion-grid {
  width: 100%;
}

ion-row {
  justify-content: flex-start;
  text-align: left;
}

ion-item {
  --background: transparent;
  --color: white;
  margin: 30px 0;
}

ion-button {
  --background: #279e9c;
  --color: white;
  margin-top: 20px;
  width: 100%;
}

.info_num {
  font-size: 130%;
}



.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 5px;                              /* Espacio entre imágenes */
    padding: 5px;                          /* Espacio interno */
    grid-auto-rows: 150px;                 /* Altura uniforme para todas las celdas */
}

.image-grid img {
    width: 100%;               /* Ocupar todo el ancho del contenedor */
    height: 100%;              /* Ocupar toda la altura del contenedor */
    object-fit: cover;         /* Asegura que la imagen cubra sin deformarse */
    border-radius: 6px;        /* Bordes redondeados */
    border: 2px solid #ffffff; /* Borde blanco */
    box-sizing: border-box;    /* Incluye el borde en el tamaño total */
}


.botones{
  --margin-left: 2%;
}


@media (max-width: 1000px) {
  .movil {
    margin-top: 20%;
  }
}
ion-content::part(scroll) {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
}

/* Oculta la barra en navegadores basados en WebKit */
ion-content::part(scroll)::-webkit-scrollbar {
    display: none;
}
