<ion-content class="Registrobody" style="height: 100%">
    <ion-grid class="ion-no-padding">
        <ion-row>
            <!--En esta columna es donde va la foto de los moviles-->
            <ion-col class="Registrobody">
                <div id="onichan">
                    <img src="../../../assets/img/marco2.png" class="overlay-image">
                    <div id="onichan2">
                        <app-carrousel></app-carrousel>
                    </div>
                </div>
            </ion-col>
            <!--En este es donde está el formulario de registro-->
            <ion-col size-lg="6" size-xs="12" class="Registrobody">
                <div class="subForm">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <ion-img src="assets/logo.png" id="logo"></ion-img>
                        <ion-item>
                            <ion-input formControlName="nickname" label="Nickname" placeholder="Ingrese su nickname"></ion-input>
                        </ion-item>

                        <ion-item [class.invalid]="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
                            <ion-input formControlName="name" label="Nombre" placeholder="Ingrese su nombre"></ion-input>
                        </ion-item>
                        <p class="error" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">El nombre no puede contener números.</p>

                        <ion-item [class.invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                            <ion-input formControlName="email" label="Correo" placeholder="Ingrese su email"></ion-input>
                        </ion-item>
                        <p class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">Introduce un correo válido.</p>

                        <ion-item>
                            <ion-input formControlName="bornDate" label="Fecha nacimiento" type="date"></ion-input>
                        </ion-item>

                        <ion-item [class.invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                            <ion-input formControlName="password" type="password" label="Contraseña" placeholder="Ingrese su contraseña"></ion-input>
                            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                        </ion-item>
                        <p class="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">La contraseña debe tener al menos 8 caracteres.</p>

                        <ion-item>
                            <ion-label>Subir Imagen</ion-label>
                            <input type="file" (change)="onFileSelected($event)" />
                        </ion-item>

                        <ion-button type="submit" expand="block">Registrarse</ion-button>

                        <div class="subForm2">
                            <ion-text>¿Ya tienes Cuenta?<span> </span></ion-text>
                            <ion-text routerLink="/login"><b>Inicia Sesión</b></ion-text>
                        </div>
                    </form>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
