.custom-footer {
    --background: #007875; /* Usamos la variable CSS de Ionic para cambiar el fondo */
}

.footer-images {
    display: flex;
    justify-content: center; /* Las imágenes estarán centradas */
    gap: 2%; /* Reducimos el espacio entre las imágenes */
    align-items: center; /* Alinea las imágenes verticalmente al centro */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si es necesario */
}

ion-icon {
    color: black;
}
