<ion-footer>
    <ion-toolbar class="custom-footer">
        <div class="footer-images">
            <ion-button fill="clear" (click)="goToUrl('/posts')">
                <ion-icon name="home" slot="start" style="font-size: 28px;"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="goToUrl('/search')">
                <ion-icon name="search" slot="start" style="font-size: 28px;"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="openAddPostModal()">
                <ion-icon name="add" slot="start" style="font-size: 28px;"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="goToUrl('/health')">
                <ion-icon name="logo-ionitron" slot="start" style="font-size: 28px"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="goToUrl('/profile')">
                <ion-icon name="person-circle-outline" slot="start" style="font-size: 34px;"></ion-icon>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>
