ion-list{
    background-color: #042F2E;
    height: 100%;
    padding: 0px 30px;
}
ion-item {
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --border-width: 0;
    --background: transparent;
    --ion-item-background: transparent;
    margin-top: 2%;
}
ion-grid{
    height: 100%;
    background-color: #042F2E;
}
