ion-grid, ion-row {
    height: 100vh; /* Asegura que ocupen toda la pantalla */
}

ion-col {
    display: flex;
    flex-direction: column; /* Para alinear los contenidos verticalmente */
}

ion-router-outlet {
    flex: 1; /* Permite que el contenido dinámico ocupe el espacio restante */
    display: flex;
}

/* Menú lateral fijo (pantallas grandes) */
ion-col.menuizq-column {
    display: block;
    background-color: #0E0E16; /* Fondo oscuro para contraste */
    color: #97A5AD; /* Texto en azul grisáceo */
    overflow-y: auto;
    padding: 15px;
}

/* Iconos y enlaces en el menú */
ion-col.menuizq-column ion-icon {
    font-size: 24px;
    margin: 16px 0;
    color: #A1885B; /* Dorado apagado para destacar */
}

ion-col.menuizq-column a {
    text-decoration: none;
    color: #97A5AD; /* Azul grisáceo para los enlaces */
    font-weight: bold;
}

ion-col.menuizq-column a:hover {
    color: #A1885B; /* Cambio de color al pasar el cursor */
}

/* Para pantallas pequeñas */
@media (max-width: 1000px) {
    ion-col.menuizq-column {
        display: none;
    }
}

header {
    --background: transparent;
    background-color: #0E0E16;
    border-bottom: 2px solid #A1885B; /* Línea dorada para un toque elegante */
    padding: 10px;
}
