<ion-content fullscreen>
    <ion-grid class="chat-container ion-no-padding">
        <!-- Encabezado del chat -->
        <ion-row class="chat-header movil">
            <ion-col size="1" class="icon-back">
                <ion-icon name="arrow-back-outline" (click)="navigateBack()"></ion-icon>
            </ion-col>
            <ion-col size="1" class="chat-avatar">
                <ion-avatar>
                    <img src="https://picsum.photos/200/300?random=1" />
                </ion-avatar>
            </ion-col>
            <ion-col size="10" class="chat-user-info">
                <h4 style="margin-left: 12%">Nombre del usuario</h4>
                <p style="margin-left: 12%">En línea</p>
            </ion-col>
        </ion-row>

        <!-- Mensajes -->
        <ion-row class="chat-messages">
            <ion-col>
                <ion-list class="message-list">
                    <!-- Mensaje del usuario -->
                    <ion-item class="message message-sent">
                        <ion-label>Hola, ¿cómo estás?</ion-label>
                    </ion-item>

                    <!-- Mensaje recibido -->
                    <ion-item class="message message-received">
                        <ion-label>¡Hola! Estoy bien, ¿y tú?</ion-label>
                    </ion-item>

                    <ion-item class="message message-sent">
                        <ion-label>Genial, gracias por preguntar.</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <!-- Input de texto -->
        <ion-row class="chat-input-row">
            <ion-col size="10">
                <ion-input
                    placeholder="Escriba un mensaje..."
                    [(ngModel)]="newMessage">
                </ion-input>
            </ion-col>
            <ion-col size="2" class="send-icon">
                <ion-icon name="send" (click)="sendMessage()"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
