.chat-container {
    background-color: #e5ddd5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Encabezado del chat */
.chat-header {
    background-color: #075e54;
    color: white;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.icon-back ion-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.chat-avatar img {
    border-radius: 50%;
}

.chat-user-info h4 {
    margin: 0;
    font-size: 16px;
}

.chat-user-info p {
    margin: 0;
    font-size: 12px;
    color: #d4d4d4;
}

/* Mensajes */
.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #075e54;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #075e54;
}

.message {
    width: 80%;
    padding: 10px;
    word-wrap: break-word;
}

.message-sent {
    align-self: flex-end;
}

.message-received {
    align-self: flex-start;
}

/* Input de texto */
.chat-input-row {
    background-color: #f0f0f0;
    padding: 10px;
    border-top: 1px solid #ddd;
    align-items: center;
}

.chat-input-row ion-input {
    background-color: white;
    border-radius: 20px;
    padding: 8px 12px;
    border: 1px solid #ddd;
}

.send-icon {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-icon ion-icon {
    font-size: 24px;
    color: #075e54;
    cursor: pointer;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 1000px) {

    .movil{
        margin-top: 14%;
    }

    .chat-header h4 {
        font-size: 14px;
    }

    .chat-user-info p {
        font-size: 10px;
    }

    .message {
        font-size: 14px;
    }

    .chat-input-row ion-input {
        font-size: 14px;
    }
}
