:host {
  display: block;
  background-color: #0E0E16; /* Fondo más oscuro para contraste */
  color: white;
  padding: 10px;
}

ion-content {
  --background: #0E0E16;
  background-color: #0E0E16 !important;
}

.post-container {
  max-width: 100%;
  margin: 0 auto;
}

.post {
  background-color: #252533; /* Verde oscuro para un look elegante */
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.post-image {
  overflow: hidden;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.username {
  font-size: 18px;
  font-weight: bold;
  color: #d9f7f7; /* Color claro para mejor visibilidad */
}

.post-image ion-img {
  border-radius: 5px;
  width: 100%;
  height: 300px; /* Ajusta la altura según lo que necesites */
  object-fit: contain; /* Mantiene toda la imagen visible sin recortes */
  background-color: #FFFFFF19; /* Fondo para las imágenes que no llenan el espacio */
}

.post-description {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 30px;
  color: #d9f7f7;
  font-weight: bold;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #d9f7f7;
  font-size: 16px;
}

.highlighted-comment .comment-container {
  display: flex;
  align-items: center;
  background-color: rgba(42, 39, 39, 0.76);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.custom-fab-button {
  --background: #00a896;
  --color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.custom-fab-icon {
  color: white;
}

:host ::ng-deep .hashtag {
  color: #00f5d4;
  font-weight: bold;
  cursor: pointer;
}

.post-date {
  font-size: 0.85rem;
  color: #d9f7f7;
  margin-left: auto;
}
.responsive-image {
  max-width: 100%;
  max-height: 1000px; /* Ajusta la altura máxima según sea necesario */
  width: auto;
  height: auto;
  object-fit: contain; /* Asegura que la imagen se ajuste al área manteniendo la proporción */
}
/* Aplica estilos a la parte de scroll de ion-content */
ion-content::part(scroll) {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

/* Oculta la barra en navegadores basados en WebKit */
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

.custom-fab-button {
  --background: #0E0E16;
  --color: white;
}

.custom-fab-icon {
  color: white;
}
@media (max-width: 1000px) {
  .movil{
    margin-top: 20%;
  }
}
.post-date {
  font-size: 0.85rem;
  color: #fff; // o el color que prefieras
  margin-left: 300px;
}
ion-list {
  background-color: #252533; /* Fondo oscuro */
  color: white; /* Texto blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

ion-item {
  --background: #252533; /* Fondo transparente */
  color: white; /* Color del texto */
  border-bottom: 1px solid white; /* Línea divisoria */
}

ion-select {
  color: white; /* Color del texto en el select */
}

ion-select::part(icon) {
  color: white; /* Color del icono del desplegable */
}

.comment {
  b {
    margin-right: 10px;
    margin-left: 20px/* Adjust the margin as needed */
  }
}
