.carousel {
  width: 80%; /* Ajusta el ancho según tus necesidades */
  height: 150px; /* Reduce la altura del carrusel */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
    transition: opacity 1s ease-in-out;
  }
}
