<div class="ion-page">
    <ion-toolbar>
        <ion-title class="header">Mensajes directos</ion-title>
    </ion-toolbar>

    <ion-content style="--background: #055a58" class="ion-padding">
        <!-- Botón para crear una nueva conversación -->
        <ion-button id="open-modal" expand="block" (click)="crearNuevaConversacion('someGroupId')">
            Crear nueva conversación
        </ion-button>

        <!-- Lista de grupos -->
        <ul style="margin-right: 5%">
            <ion-item *ngFor="let grupo of grupos">
                <ion-avatar slot="start">
                    <!-- Utiliza la URL de la imagen del grupo -->
                    <ion-img [src]="grupo.image.toURL()"></ion-img>
                </ion-avatar>
                <ion-label>
                    <h2>{{ grupo.name }}</h2>
                    <p>{{ grupo.ultimoMensaje }} - <strong>{{ grupo.ultimoMensajeHora }}</strong></p>
                </ion-label>
                <ion-button fill="clear" slot="end" class="boton-anyadir" (click)="verGrupo(grupo.id)">
                    <ion-icon name="arrow-redo-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ul>


        <!-- Modal para seleccionar personas a añadir al grupo -->
        <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-title>Personas para añadir</ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>

                <ion-content style="--background: #000000">
                    <!-- Campo para ingresar el nombre del grupo -->
                    <ion-item>
                        <ion-label position="floating">Nombre del grupo</ion-label>
                        <ion-input [(ngModel)]="nombreGrupo"></ion-input>
                    </ion-item>

                    <!-- Lista de perfiles seguidos -->
                    <ion-list style="background-color: #252533">
                        <ion-item *ngFor="let perfil of perfilesSeguidos">
                            <ion-avatar slot="start">
                                <ion-img [src]="perfil.avatar"></ion-img>
                            </ion-avatar>
                            <ion-label>
                                <h2>{{ perfil.name }}</h2>
                                <p>{{ perfil.nickname }}</p>
                            </ion-label>
                            <ion-button
                                fill="clear"
                                slot="end"
                                class="boton-anyadir"
                                (click)="toggleSeleccionPerfil(perfil)">
                                <ion-icon name="{{ perfilesSeleccionados.includes(perfil) ? 'checkmark' : 'add' }}"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-list>
                    <!-- HTML para seleccionar una imagen -->
                    <!-- HTML para seleccionar una imagen -->
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" />
                    <label for="fileInput">Seleccionar archivo</label>

                </ion-content>

                <ion-footer>
                    <ion-toolbar>
                        <ion-title>
                            Seleccionados: {{ perfilesSeleccionados.length }}
                        </ion-title>
                        <ion-buttons slot="end">
                            <ion-button
                                [disabled]="perfilesSeleccionados.length === 0 || !nombreGrupo"
                                (click)="crearGrupoConSeleccionados()">
                                Crear
                            </ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-footer>
            </ng-template>
        </ion-modal>
    </ion-content>
</div>
