<ion-content class="custom-scroll" id="pantallaPosts">
  <ion-grid class="ion-no-padding post-container movil">
    <div class="scroll-container" id="posts">
      <!-- Lista de Filtros -->
        <ion-row class="sticky-header">
            <ion-col size="9" id="barra-busqueda">
                <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchChange()"></ion-searchbar>
            </ion-col>
            <ion-col size-sm="3" size-md="3" id="filtro">
                <ion-list class="post-list">
                    <ion-item class="post-list-item">
                        <ion-select aria-label="Post Filter" [(ngModel)]="selectedFilter" (ionChange)="onFilterChange()">
                            <ion-select-option value="recientes">Recientes</ion-select-option>
                            <ion-select-option value="mas-gustados">Más Gustados</ion-select-option>
                            <ion-select-option value="mas-hablados">Más Comentados</ion-select-option>
                            <ion-select-option value="seguidores">Tus Seguidores</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>


      <!-- Posts -->
      <ion-row *ngFor="let post of posts; let i = index" class="post" [attr.id]="'post-' + post.post?.id">
        <!-- Encabezado del Post -->
        <ion-col class="user-info" size="12" style="display: flex; justify-content: space-between; align-items: center;">
          <div style="display: flex; align-items: center;">
            <ion-button fill="clear" (click)="navigateToProfile(post.post?.id)" style="padding: 0;">
              <ion-avatar>
                <img [src]="post.avatar" alt="Imagen de perfil" />
              </ion-avatar>
            </ion-button>
            <span class="username">{{ post.nickname }}</span>

          </div>
          <ion-icon name="ellipsis-horizontal" class="more-button" (click)="presentPopover(i, $event, post)"></ion-icon>
        </ion-col>

        <!-- Popover de Opciones -->
        <ion-popover [isOpen]="openPopoverIndex === i" (didDismiss)="openPopoverIndex = -1">
          <ng-template>
            <div *ngIf="!isAdmin1" style="margin: auto; padding-top: 10px;">
              <ion-select [(ngModel)]="reportReason1" placeholder="Razón de reporte">
                <ion-select-option value="spam">Spam</ion-select-option>
                <ion-select-option value="abuso">Abuso</ion-select-option>
                <ion-select-option value="contenido_inapropiado">Contenido inapropiado</ion-select-option>
                <ion-select-option value="informacion_falsa">Información falsa</ion-select-option>
                <ion-select-option value="otro">Otro</ion-select-option>
              </ion-select>
              <ion-input *ngIf="reportReason1 === 'otro'" placeholder="Razón de reporte" [(ngModel)]="reportReason"></ion-input>
              <ion-col class="post-actions" size="12" style="display: flex; justify-content: center;">
                <ion-button color="danger" (click)="reportPost(post)">
                  <ion-icon name="trash" slot="start"></ion-icon>
                  <ion-label>Reportar</ion-label>
                </ion-button>
              </ion-col>
            </div>
            <div *ngIf="isAdmin1" style="margin: auto">
              <ion-col class="post-actions" size="12" style="display: flex; justify-content: center;">
                <ion-button color="danger" (click)="deletePost(post, 'SANCTIONED')">
                  <ion-icon name="trash" slot="start"></ion-icon>
                  <ion-label>Eliminar y advertir</ion-label>
                </ion-button>
              </ion-col>
              <ion-col class="post-actions" size="12" style="display: flex; justify-content: center;">
                <ion-button color="success" (click)="deletePost(post, 'SOLVED')">
                  <ion-icon name="exit-outline" slot="start"></ion-icon>
                  <ion-label>Dejar pasar</ion-label>
                </ion-button>
              </ion-col>
            </div>
          </ng-template>
        </ion-popover>

        <!-- Imagen del Post -->
        <ion-col *ngIf="post.image_post" size="12" class="post-image">
          <ion-img [src]="post.image_post" class="responsive-image"></ion-img>
        </ion-col>

        <!-- Descripción del Post -->
        <ion-col size="12" class="post-description" [innerHTML]="highlightHashtags(post.post?.content)"></ion-col>

        <!-- Acciones del Post -->
        <ion-col size="12" class="post-actions">
          <ion-button (click)="likePost(post)" fill="clear" class="action-button" id="like-button">
            <ion-icon [name]="post.liked ? 'heart' : 'heart-outline'"></ion-icon>
            <span>{{ post.numlikes }}</span>
          </ion-button>
          <ion-button fill="clear" class="action-button" id="chat" (click)="openNewCommentModal(post.post?.id, post)">
            <ion-icon name="chatbubble"></ion-icon>
            <span>{{ post.numcomments }}</span>
          </ion-button>
          <ion-button fill="clear" class="action-button save-button" (click)="savePost(post)" id="guardar">
            <ion-icon [name]="post.saved ? 'bookmark' : 'bookmark-outline'"></ion-icon>
          </ion-button>
          <ion-button fill="clear" class="action-button" (click)="sharePost(post)" id="compartir">
            <ion-icon name="share-social"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Comentario Destacado -->
        <ion-col size="12" class="highlighted-comment" (click)="viewPostDetails(post)" id="comentarios">
          <div class="comment-container">
            <!-- Solo se mostrará el ion-avatar si 'avatarcomment' existe y no es cadena vacía -->
            <ion-avatar
              *ngIf="post.avatarcomment && post.avatarcomment.trim().length > 0"
            >
              <img [src]="post.avatarcomment" />
            </ion-avatar>

            <span class="comment">
              <b>{{ post.nicknamecomment }}</b> {{ post.firstcomment }}
            </span>
          </div>
        </ion-col>
        <span class="post-date">{{ post.post?.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
      </ion-row>
    </div>
  </ion-grid>

  <!-- Botón para crear nuevo post -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="publicar" class="custom-fab-button" (click)="openAddPostModal()">
      <ion-icon name="add" class="custom-fab-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
