<ion-tabs>

  <!-- TAB: REPORTES -->
  <ion-tab tab="home">
    <div id="home-page" class="page-container">
      <ion-header>
        <ion-toolbar>
          <ion-title><h1>Reportes de usuarios</h1></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">
          <ion-list class="ion-no-padding">
            <!-- EJEMPLO DE BUCLE -->
            @for (report of reports; track report; let index = $index) {
              <ion-item
                class="item_list"
                routerLink="/post-details/{{ report.idPost }}"
              >
                <ion-avatar slot="start">
                  <img [src]="report.avatarReported" alt="Avatar del reportado" />
                </ion-avatar>

                <ion-label class="report-info">
                  <div class="report-header">
                    <span><strong>Reporte de {{ report.reporter }} hacia {{ report.reported }}</strong></span>
                    <ion-checkbox
                      [checked]="report.state !== 'PENDING'"
                      disabled
                    ></ion-checkbox>
                  </div>
                  <span class="report-reason">
                    <strong>Motivo:</strong> {{ report.reason }}
                  </span>
                </ion-label>
              </ion-item>
            }
          </ion-list>

          <ion-infinite-scroll  (ionInfinite)="onIonInfiniteReportes($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-content>
    </div>
  </ion-tab>

  <!-- TAB: AVISADOS -->
  <ion-tab tab="library">
    <div id="library-page" class="page-container">
      <ion-header>
        <ion-toolbar>
          <ion-title><h1>Avisados</h1></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">
          <ion-list class="ion-no-padding">
            @for (avisado of avisados; track avisado; let index = $index) {
              <ion-item class="item_list">
                <ion-avatar slot="start">
                  <img [src]="avisado.avatar" alt="avatar" />
                </ion-avatar>
                <div>
                  <ion-label>
                    El usuario <b>{{ avisado.name }}</b> se le ha avisado
                    <b>{{ avisado.reportsCount }}</b>
                  </ion-label>
                </div>
                <div class="icon-container">
                  <!-- Ícono de check o advertencia -->
                  <svg
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="m0 0h24v24h-24z" fill="#fff" opacity="0"/>
                    <g fill="#231f20">
                      <path d="m9.71 11.29a1 1 0 0 0 -1.42 1.42l3 3a1 1 0 0 0 .71.29 1 1 0 0 0 .72-.34l7-8a1 1 0 0 0 -1.5-1.32l-6.22 7.2z"/>
                      <path d="m21 11a1 1 0 0 0 -1 1 8 8 0 0 1 -8 8 8 8 0 0 1 -5.67-13.64 7.93 7.93 0 0 1 5.67-2.36 8.79 8.79 0 0 1 1.9.22 1 1 0 1 0 .47-1.94 10.54 10.54 0 0 0 -2.37-.28 10 10 0 0 0 -7 17.09 9.93 9.93 0 0 0 7 2.91 10 10 0 0 0 10-10 1 1 0 0 0 -1-1z"/>
                    </g>
                  </svg>
                </div>
              </ion-item>
            }
          </ion-list>

          <ion-infinite-scroll (ionInfinite)="onIonInfiniteAvisado($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-content>
    </div>
  </ion-tab>

  <!-- TAB: SUSPENDIDOS -->
  <ion-tab tab="search">
    <div id="search-page" class="page-container">
      <ion-header>
        <ion-toolbar>
          <ion-title><h1>Suspendidos</h1></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">
          <ion-list class="ion-no-padding">
            @for (suspendido of suspendidos; track suspendido; let index = $index) {
              <ion-item class="item_list">
                <ion-avatar slot="start">
                  <img [src]="suspendido.avatar" alt="avatar" />
                </ion-avatar>
                <div>
                  <ion-label>
                    El usuario <b>{{ suspendido.name }}</b> ha sido baneado
                    después de recibir {{ suspendido.reportsCount }} advertencias
                  </ion-label>
                </div>
                <div class="icon-container">
                  <!-- Ícono de check o advertencia -->
                  <svg
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="m0 0h24v24h-24z" fill="#fff" opacity="0"/>
                    <g fill="#231f20">
                      <path d="m9.71 11.29a1 1 0 0 0 -1.42 1.42l3 3a1 1 0 0 0 .71.29 1 1 0 0 0 .72-.34l7-8a1 1 0 0 0 -1.5-1.32l-6.22 7.2z"/>
                      <path d="m21 11a1 1 0 0 0 -1 1 8 8 0 0 1 -8 8 8 8 0 0 1 -5.67-13.64 7.93 7.93 0 0 1 5.67-2.36 8.79 8.79 0 0 1 1.9.22 1 1 0 1 0 .47-1.94 10.54 10.54 0 0 0 -2.37-.28 10 10 0 0 0 -7 17.09 9.93 9.93 0 0 0 7 2.91 10 10 0 0 0 10-10 1 1 0 0 0 -1-1z"/>
                    </g>
                  </svg>
                </div>
              </ion-item>
            }
          </ion-list>

          <ion-infinite-scroll (ionInfinite)="onIonInfiniteSuspendidos($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-content>
    </div>
  </ion-tab>

  <!-- TAB BAR -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-text class="ion-text-size">Reportes</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-text class="ion-text-size">Avisados</ion-text>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-text class="ion-text-size">Suspendidos</ion-text>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
