body{
    background-color: #042F2E;
    width: 25%;
}
ion-list{
    background-color: #042F2E;
    height: 100%;
}
.menuizq{
    padding-top: 120px;
    padding-left: 20px;
}
.menuizq ion-icon {
    display: block;
    margin-bottom: 50%;
    font-size: 24px;
}
ion-item {
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --border-width: 0;
    --background: transparent;
    --ion-item-background: transparent;
    margin: 0;
}
ion-button{
    color: white;
}
a{
    color: white;
}
.menuizq a:hover ion-icon{
    color: #00CED1; /* Cambiar a un color distinto al pasar el ratón */
}



